body{
 font-size: 15px;
 font-family: 'Poppins', sans-serif;
 /* max-width: 80%; */
 margin: 0 auto;
}

.top{
    text-align: center;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    border: 5px solid gray;
    padding: 2%;
    flex: 1;
    margin: 2%;
   
}